extends layout

block content
    .homefield_page.white_card_shadow
        h4=homefield.yelp.name
        if homefield.yelp.image_url
            img(src=homefield.yelp.image_url style={width: "150px", height: "150px"}).col-3
        else
            img(src="https://amerikicklanghorne.com/wp-content/uploads/2017/04/default-image.jpg" style={width: "150px", height: "150px"}).col-3
        p #{homefield.yelp.location.address1} #{homefield.yelp.location.city}, #{homefield.yelp.location.state} #{homefield.yelp.location.zip}
    h4 Teams
    each team in homefield.teams
      a(href=team.url).row.team_listing(style={height: "100px"})
        if team.logo
            img(src=team.logo style={width: "auto", height: "100%"}).col-3
        else
            img(src="https://amerikicklanghorne.com/wp-content/uploads/2017/04/default-image.jpg" style={width: "150px", height: "150px"}).col-3
        div.col
            h3.team_listing_name=team.name