extends layout
block scripts
    style
      include ../public/css/main.css

block content
  if newHomeField
    h3 The best place to watch #{team.name} in #{homefields[0].location.city} is...
    .container(style='display: flex; flex-direction: row; flex-wrap: wrap;').s12.l9
      each homefield in homefields
        .card(style="margin: 10px")
          .card-image
            img(src=homefield.image_url alt="...")
            form.my-form(action="", method="POST")
              input(type='hidden' name='team_id' value=team.id)
              input(type='hidden' name="yelp" value=homefield)
              button.btn-floating.halfway-fab.waves-effect.waves-light.red
                i.fa.fa-plus.fa-5x
          .card-content
            h5.card-title=homefield.name
            p.card-text=homefield.location.address1          
          .card-action
            a(href=homefield.url target="_blank") Go to #{homefield.name}'s yelp.

            

    
  else if edit
    h3 Edit #{homefield.yelp.name}
    img(src=homefield.yelp.image_url style={width: "150px", height: "auto"}).col-3
    ul
      for team in homefield.teams
        li
          a(href=team.id) #{team.name}
    form(action="/", method="DELETE")
      button DELETE


  else 
    h3 Search for your homefield
    form(action="", method="GET")
      select.custom-select(name="team")
            for team in teams
              option(value=team.id) #{team.name}
      .input-group
        input.input-field(type='text' name="location" placeholder=" (City, State) or Zip" style={margin: '10px 0px 0px 0px', background: 'white', color: 'black'})
        input.input-field(type='text' name="term" placeholder=" Name of the place" style={margin: '10px 0px 10px 0px', background: 'white', color: 'black'})
        .input-group-append
          button.btn.btn-outline-secondary Submit