extends layout

block content
  if newHomeField
    h4 Submit the best place to watch #{team.name} in #{homefields[0].location.city}
    each homefield in homefields
      .card
        form(action="", method="POST")
          input(type='hidden' name='team_id' value=team.id)
          input(type='hidden' name="yelp" value=homefield)
          .card-body
            img.card-img-top(src=homefield.image_url alt="..." style="width: 150px; height: auto; object-fit: cover;")
            .card-body
              h5.card-title=homefield.name
              p.card-text=homefield.location.address1
              button Add as homefield
  
  else if edit
    h1 Edit #{homefield.yelp.name}
    img(src=homefield.yelp.image_url style={width: "150px", height: "auto"}).col-3
    ul
      for team in homefield.teams
        li
          a(href=team.id) #{team.name}
    form(action="/", method="DELETE")
      button DELETE


  else 
    h1 Search for your homefield
    form(action="", method="GET")
      select.custom-select(name="team")
            for team in teams
              option(value=team.id) #{team.name}
      .input-group
        input.form-control(type='text' name="location" placeholder="(City, State) or Zip")
        input.form-control(type='text' name="term" placeholder="Name of homefield")
        .input-group-append
          button.btn.btn-outline-secondary Submit