extends layout

block content
  if spots
    h1 Submit the best place to watch #{team.name} in #{spots[0].location.city}
    form(action="", method="POST")
      input(type='hidden' name='team_id' value=team.id)
      each spot in spots
        label(for=spot)=spot.name
        input(type='radio' name="yelp" value=spot) 
      button Submit
  else 
    h1 Search for your spot
    form(action="", method="GET")
      input(type='text' name="location" placeholder="(City, State) or Zip")
      input(type='text' name="term" placeholder="Name of spot")
      select(name="team")
        for team in teams
          option(value=team.id) #{team.name}
      button Submit